:root {
  --bright-turquoise: #18e9d9;
  --ebb: #e3e3e3;
  --turquoise-blue: #66d9e8;
  --white: #ffffff;

  --font-size-l: 22px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xl: 28px;
  --font-size-xxl: 35px;
  --font-size-xxxl: 48px;

  --font-family-rubik: "Rubik", Helvetica;
}.rubik-light-white-18px {
  color: var(--white);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}
.rubik-medium-white-35px {
  color: var(--white);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
}
.rubik-medium-bright-turquoise-48px {
  color: var(--bright-turquoise);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xxxl);
}
.rubik-medium-bright-turquoise-48px-2 {
  color: var(--bright-turquoise);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 500;
}
.rubik-medium-white-18px {
  color: var(--white);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}
.rubik-light-ebb-22px {
  color: var(--ebb);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}
.rubik-light-white-48px {
  color: var(--white);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 300;
}
.rubik-medium-white-28px {
  color: var(--white);
  font-family: var(--font-family-rubik);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}
.border-1px-bright-turquoise {
  border: 1px solid var(--bright-turquoise);
}
