@use '../mixins' as *


$cardWidth: 343px
$cardHeight: 427px
$expandedWidth: 397px
$expandedHeight: 493px

.CardCarousel
  box-sizing: border-box
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  &:not(.noScroll) .CardCarouselSlides
    overflow-x: auto
  &.noScroll .CardCarouselSlides
    justify-content: center
    .CardCarouselCard:not(.InFocus)
      opacity: 0.6
    @include MobileAndTabletView
      flex-direction: column
  .CardCarouselSlides
    @include HideScrollbars
    box-sizing: border-box
    display: flex
    flex-direction: row
    align-items: center
    flex-grow: 1
    &::before, &::after
      content: "(spacer)"
      visibility: hidden
      min-width: calc(50% - #{$expandedWidth}/2)

      flex-shrink: 0
    .CardCarouselSpacer
      flex-shrink: 0
    .CardCarouselCard
      position: relative
      flex-shrink: 0
      margin: 20px
      width: $cardWidth
      height: $cardHeight
      box-sizing: border-box
      padding: 20px
      border-radius: 8px
      background: radial-gradient(rgba(#204169, 0.9), rgba(#102135, 0.9))
      border: 1px solid #0F6BAE
      cursor: default

      color: white

      display: flex
      flex-direction: column
      justify-content: center
      align-items: center

      h2, p
        width: calc(#{$cardWidth} - 50px)
        box-sizing: border-box
        
      h2
        font-size: 32px
        text-shadow: 0px 3px 8px black
        text-align: center
        margin: 20px

      p
        text-align: center
        font-size: 16px
        font-weight: 200
        color: #E3E3E3
        line-height: 1.7em


      transition: box-shadow 1.5s , width .3s, height .3s
      &.InFocus
        border: 1.5px solid #18E9D9
        background: radial-gradient(rgba(#204169, 0.9), rgba(#204169, 0.9), rgba(#33699A, 0.9))
        box-shadow: 0px 3px 33px rgba(#18E9D9, .55)
        width: $expandedWidth
        height: $expandedHeight
        &::before
          content: " "
          position: absolute
          top: 13px
          right: 13px
          bottom: 13px
          left: 13px
          border: 1px dashed #4FA4E1 
          border-radius: 5px
          opacity: 0.8
