.Countdown
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  width: 100%
  max-width: 404px
  margin-right: auto
  margin-left: auto
  height: 100%
  box-sizing: border-box
  .CountdownClock
    //margin: 20px
    canvas
  h3
    text-align: center
    text-transform: uppercase
    color: white

