.EmpireStateScroller
  position: relative
  width: 220px
  height: 800px
  img.ScrollerBackground
    position: absolute
    left: 0px
    top: 0px
    box-sizing: border-box
    object-fit: contain
    overflow: hidden
    margin: -60px
  button.DragHandle
    position: absolute
    left: 0px
    width: 100%
    height: 59px
    background-color: #051427
    border: 1px solid #4FA4E1
    border-radius: 5px
    z-index: 9
    color: #E3E3E3
    font-family: Rubik, sans-serif
    font-size: 16px
    font-weight: 200
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center
    cursor: grab
    &:active
      cursor: grabbing
    >img
      margin-right: 7px
