.LittleButtons
  text-align: center

  font-size: 10px
  .LittleButton
    display: inline-block
    margin: 5px
    text-shadow: 3px 3px 3px black
    cursor: pointer
    &.current
      color: rgb(127, 242, 26)
    &.not-current
      color: rgb(100,100,100)
