
$contentWidth: 1208px

@mixin MobileView
  @media screen and (max-width: 767px)
    @content

@mixin TabletView
  @media screen and (min-width: 768px) and (max-width: 1279px)
    @content

@mixin MobileAndTabletView
  @include MobileView
    @content
  @include TabletView
    @content

@mixin DesktopView
  @media screen and (min-width: 1280px)
    @content

@mixin MainFont
  font-family: Rubik, sans-serif
  font-weight: 200

@mixin EmpireInput
  background-color: rgba(#386DAC, 0.36)
  color: white
  @include MainFont
  font-size: 21px
  padding-top: 1em
  padding-bottom: 1em
  padding-left: 1.2em
  padding-right: 1.2em
  border: none
  border-radius: 8px
  outline: none
  margin: 8px
  transition: background-color 1s
  &:focus
    background-color: lighten(#386DAC, 1%)
  &::placeholder
    color: white
    font-size: 21px


@mixin HideScrollbars
  &::-webkit-scrollbar 
    display: none
  -ms-overflow-style: none // IE/Edge
  scrollbar-width: none // Firefox

@mixin FancyTextGradient
  background: linear-gradient(45deg, #18E9D9, #4FA4E1, #875FEA)
  -webkit-background-clip: text
  -webkit-text-fill-color: rgba(white, .5)
@mixin FancyBGGradient
  background: linear-gradient(45deg, #18E9D9, #4FA4E1, #875FEA)

@mixin RicherTextGradient
  background: linear-gradient(to left, #18E9D9, #4FA4E1, #875FEA)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent

@mixin EmpireLink
  &, &:link, &:visited
    display: block
    padding: 10px
    color: white
    font-family: Rubit, sans-serif
    font-weight: 200
    cursor: pointer
    @include EmpireLinkHover
    text-decoration: none

@mixin EmpireLinkHover
  &:hover
    @include FancyTextGradient
    cursor: pointer
    
@mixin BlackButton
  background-color: black
  border: 1px solid #66D9E8
  text-transform: uppercase
  min-width: 165px
  min-height: 56px
  border-radius: 8px
  color: white
  @include MainFont
  font-size: 18px
  font-weight: 500
  outline: none
  &:hover
    background: linear-gradient(to left, #18E9D9, #4FA4E1, #875FEA)
    cursor: pointer

@mixin ItalicLink
  &, &:link, &:visited
    color: #66D9E8
    font-size: 16px
    font-weight: 500
    font-style: italic
    padding: 3px
    text-decoration: none
    &:hover
      @include FancyBGGradient
      cursor: pointer
      color: black

// ----- ANIMATIONS


