
.container-center-horizontal
  overflow-x: hidden
  width: 100%

.HowEmpireCanBeUsedWrapper
  position: absolute
  top: 1412px
  //border: dotted white
  left: 0px
  right: 0px
  height: 650px


.CountdownWrapper
  position: absolute
  top: 900px
  left: 0px
  right: 0px
  height: 300px
  border: dotted white
